
/*****************************  PUBLIC PAGE  **********************************/
h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 4em;
  font-family: 'Lobster', cursive;
}

h2 {
  text-align: center;
  font-size: 2em;
  font-family: 'Lobster', cursive;
}

img {
  display: block;
  width: 70%;
  margin: auto;
}

/*General Page Styles*/

body {
  width: 70%;
  margin: auto;
  font-family: sans-serif;
}

/*Navigation Styles*/

#navbar {
  clear: both;
  background-color: #275b2e;
}

nav a {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
  background-color: #275b2e;
  color: white;
}

/*Main Section Styles*/

#wrapper {
  display: block;
  height: 800px;
}

main {
  height: 100%;
  width: 80%;
  background-color: #e8ede9;
  float: left;
  box-sizing: border-box;
}

main > p {
  padding: 2%;
}

#imagerow > img {
  display: block;
  float: left;
  width: 12%;
  margin: auto;
}

aside {
  /*height: 100%;*/
  width: 20%;
  background-color: #95c19b;
  float: left;
  box-sizing: border-box;
}

aside > img {
  width: 90%;
}

aside > p {
  padding: 2%;
}

/*Footer Styles*/

footer {
  background-color: #275b2e;
  clear: both;
}

footer > p {
  display: inline-block;
  width: 33%;
  text-align: center;
  color: white;
}


/**************************  TABLE STYLES  ************************************/

table, th, td {
  border: 1px solid black;
}

table {
  margin: 25px auto;
}

th, td {
  padding: 12px;
}

td {
  text-align: center;
}

th {
  font-size: 1.2em;
}
